
  body, html {
    height: 100%;
    padding: 4px;
    margin: 4px;
    font-family: sans-serif;
    color: black;
    background-color: rgb(184, 235, 184);
  }
  

  
  button {
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  

  .row {
      display: flex;
  }

 .card {
   background-color: lightgrey;
   border: none;
   padding: 2px;
   color: rgb(236, 8, 122);
 }

 a {
   text-decoration: none;
   color: black;
 }

label {
  margin: 3px;
  padding: 3px;
}

.btn {
  margin: 3px;
  padding: 3px;
  background-color: hotpink;

}